
/*  ПОДКЛЮЧЕНИЕ ШРИФТОВ */
@font-face {
	font-family: Exo2Regular; /* Имя шрифта */
	src: url("fonts/Exo2Regular.eot");
	src: url("fonts/Exo2Regular.eot?#iefix")format("embedded-opentype"),
	url("fonts/Exo2Regular.woff") format("woff"),
	url("fonts/Exo2Regular.ttf") format("truetype");

}
@font-face {
	font-family: 'RobotoRegular', sans-serif; /* Имя шрифта */
	src: url(fonts/RobotoRegular.eot); /* Для IE5-8 */
	src: local('RobotoRegular'), url(fonts/Roboto-Regular.ttf); /* Для остальных браузеров */
}

/*позиционирование правой части страницы*/
#allPage{
	max-width: 1350px;
	margin:0 auto;
	font-size:100%;
}

.RightPage{
	float:right;
	width: 84.07407407407407%;
}

header{
	min-height: 587px;
	max-height: 100%;
	background:#EAEBED;
}
/* ссылки шапки */

header a{
	text-decoration: none;

}
header a:visited{
	color:#4C4C4C;
}
span{
	color: #3971FF;
}

/* ТЕКСТ ДЛЯ и header*/
.textTop{
	position: relative;
	bottom: 20px;
	font-family: Exo2Regular,sans-serif;
	line-height: 0;
}
/*  псевдоселектор 
отображается не во всех страых брауерах */
.textTop p:nth-child(1){ 
	position: relative;
	color:#4C4C4C;
	top:7px;
	font-size: 30px; 
}
.textTop>p+p{
	letter-spacing: -1.2px;
	font-size: 50px;
	color:#4C4C4C;
}
.textTop+div{
	color:#4C4C4C;
}


/*позиционирование и изменение текста и картинок в шапке*/
.allRoboto{
	position: relative;
	display: inline-block;
	clear: both;
	right: 51px;
	top: 102px;
	z-index: 100;
	font-size: 16px;
	font-family: RobotoRegular,sans-serif;
}
.UIUX{
	position: relative;
	border-top:1px solid #4C4C4C;
	border-bottom:1px solid #4C4C4C;
	bottom: 26px;
	letter-spacing: 1.2px;
	left: 2px;
	width:178px;
	padding: 11px 4px 9px 18px; 
}

.UIUX + p{
	line-height: 30px ;
	letter-spacing: .1px;
	color: #4C4C4C;
}
/* картинки в шапке */
.imgHeader1, .imgHeader2{
	position: relative;
	top: 113px;
	left: 175px; 
	z-index: 1;
}
.imgHeader1{
	left: 90px;
}


.top1{
	border-bottom: 2px solid #3971FF;
	top: 28px;
	width: 50px;
	transition: .2s;
	position: absolute;

}
.top2{
	position: absolute;
	border-bottom: 2px solid #3971FF;
	top: 28px;
	left: 1px;
	width: 50px;  
	transition: .2s;
}


.topSk{
	position: relative;
	top: 24px;
	left: 1px;
	letter-spacing: -0.7px;
	transition: .3s;
	color:#4C4C4C;
	font-weight:600;
}
.topSk2{
	position: relative;
	left: 92px;
	width:50px;
	top: 24px;
	letter-spacing: -1px;
	transition: .3s;
	color:#4C4C4C;
	font-weight:600;
}


/*------CONTENT------*/
#proSkill{
	width: 100%;
	min-height: 534px;
}
#proSkill>h1{
	display: block;
	position: relative;
	left: 95px;
	top: 71px;
	width: 40%;
	font: 500 30px  Exo2Regular,sans-serif;
	letter-spacing: .3px;
	color: #333333;
}
#proSkill img{
	position: relative;
	right: 308px;
	top: 30px;
}
#proSkill>div{
	color: #4C4C4C; 
	width: 40%;
	position: relative;
	top: 157px;
	font-family: RobotoRegular,sans-serif;
}
/* левый блок Proskill*/
#proSkill .proSki_1 span{
	color: #4C4C4C ;
	position: absolute;
	left: 400px;
	border-bottom: 5px solid rgba(54,106,240,.4);
	padding-bottom: 20px;
	padding-left: 16px;
}
.proSki_1 {
	float: left;
	margin-left: 95px;
	letter-spacing: -.9px;
}
.proSki_2 {
	float: right;
	margin-right: 110px;
	letter-spacing: -.9px;
}
.proSki_1>p{
	width: 397px;
	padding-bottom: 16px;
	margin-bottom: 4px;
}

.proSki_1  div{
	width: 400px;
	border-top: 5px solid #3971FF; 
	border-right: 4px solid transparent;	
}

/* правый блок Proskill*/

#proSkill .proSki_2 span{
	color: #4C4C4C ;
	position: absolute;
	left: 400px;
	border-bottom: 5px solid rgba(54,106,240,.4);
	padding-bottom: 20px;
	padding-left: 16px;
}

.proSki_2>p{
	width: 397px;
	padding-bottom: 16px;
	margin-bottom: 4px;
}

.proSki_2  div{
	width: 400px;
	border-top: 5px solid #3971FF; 
	border-right: 4px solid transparent;	
}
/* Education */

#eduCation a{
	color: #4C4C4C;
	text-decoration: none;
	
}	
#eduCation a:visited{
	color:#4C4C4C;
}
#eduCation h2 a:hover{
	color: #3971FF;
}

#eduCation{
	position: relative;
	background: #F3F3F3;
	width: 100%;
	min-height: 807px;
	color:#4C4C4C;
}
#eduCation>h1{
	display: block;
	position: relative;
	padding-left: 95px;
	top: 91px;
	font: 500 30px  Exo2Regular,sans-serif;
	letter-spacing: .3px;
	color: #333333;
}
#eduCation img{
	position: relative;
	right: 159px;
	top: 30px;
}
#eduCation h2{
	position: relative;
	bottom: 4px;
	right: 10px;
	font: 500 22px RobotoRegular,sans-serif;
}
.eduCat_1{
	float: left;
	width: 40%;
	left: 133px;
}

.eduCat_2{
	float: right;
	width: 40%;
	right: 73px;
}
#eduCation section{
	position: relative;
	top: 170px;
	font-family: RobotoRegular,sans-serif;
}
#eduCation h2+p{
	position: relative;
	left: 24px;
	bottom:13px;
	line-height: 29px;
	letter-spacing: -.9px;
	padding-bottom: 9px;
}
#eduCation h2+p+p{
	position: relative;
	right: 38px;
	line-height: 29px;
	letter-spacing: .2px;
	padding-bottom: 67px;
	bottom: 3px;
}
#eduCation  span{
	position: relative;
	font-size: 30px;
	right: 30px;
	top: 5px;
	color: #4C4C4C;
}
/* EXPERIENCE */
#expeRience #eduCation{
	position: relative;
	bottom: 20px;
	background: #FFFFFF;

}
#expeRience{
	height: 765px;
}

#expeRience #eduCation img{
	position: relative;
	right: 170px;
}
/* RECENT PROJECT */

#reCentPro h1{ 
	font: 500 30px  Exo2Regular,sans-serif;
	padding: 93px 0 0 96px;
	color: black;

}
#reCentPro h1 img{
	position: relative;
	right: 232px;
	top: 30px;
}
#reCentPro selection img{
	padding: 47px 0 0 130px;
	width: 183px;
}
#reCentPro figure{	
	position: relative;
	background: #CCCCCC;
	width: 445px;
	height: 300px;
	box-shadow:  0 0 4px  1px rgba(204,204,204,.7);
}
#reCentPro {
	background:#F3F3F3;
	min-height: 1333px;
	color:#4C4C4C;
}
#reCentPro .reCent_1{
	float: left;
	width: 38%;
	margin: 88px 0 0 54px;
}

#reCentPro .reCent_2{
	float: right;
	width: 40%;
	margin: 88px 150px 0 0;
}

#reCentPro p{
	font-family: RobotoRegular,sans-serif;
	padding-left: 41px;
	width: 451px;
	letter-spacing: .07px;
}
#reCentPro figure+p{
	font-size: 22px;
	margin-top: 48.05px;

}

#reCentPro p+p{

	margin: -8.5px 0 95px 0;
	letter-spacing: .1px;
	line-height: 30px;
}

#reCentPro .creSt_1{
	position:relative;
	top: 147px;
	left: 194px;
	border-bottom: 3px solid #3971FF; 
	width: 58px;

}
#reCentPro .creSt_2{
	position: relative;
	top: 119px;
	left: 222px;
	border-left: 3.3px solid #3971FF; 
	height: 55px; 
	width: 3px;

}
#reCentPro img+div{
	position: relative;
	bottom: 265px;
	width: 445px;
	height: 300px;
	box-shadow:  0 10px 12px  1px rgba(6,6,6,.19);
	opacity: 0;
	transition: 200ms;
	background: rgba(246,246,246,.95);
}

/* RECENT POST */
#recentPost{
	min-height: 728px;
}
#recentPost h1{
	font: 500 30px  Exo2Regular,sans-serif;
	padding: 72px 0 0 96px;
	color: black;
}
#recentPost h1 img{
	position: relative;
	right: 186px;
	top: 30px;
}
#recentPost selection .bol_1{
	position: relative;
	top: 120px;
	left: 121px;
	width: 46px;
	height: 46px;
	border: 2px solid #4C4C4C;
	border-radius: 25px;
}
#recentPost  .bol_1>div{
	width: 8px;
	height: 8px;
	border-right: 2px solid #4C4C4C;
	border-bottom: 2px solid #4C4C4C;
	transform: rotate(136deg);
	position: relative;
	top:42%;
	left: 44%;
}
#recentPost  .bol_2>div{
	width: 8px;
	height: 8px;
	border-right: 2px solid #4C4C4C;
	border-bottom: 2px solid #4C4C4C;
	transform: rotate(-40deg);
	position: relative;
	top:42%;
	left: 36%;
}
#recentPost selection .bol_2{
	position: relative;
	top: 8px;
	left: 940px;
	width: 46px;
	height: 46px;
	border: 2px solid #4C4C4C;
	border-radius: 25px;
}
#recentPost figure{
	position: relative;
	top: 40px;
	left: 54px;
	background: #CCCCCC;
	width: 350px;
	height: 300px;
}
#recentPost figure img{
	position: relative;
	width: 184px;
	top: 48px;
	left: 80px;
}
#recentPost figure div{
	position: relative;
	left: 380px;
	width: 100%;
	width: 600px;
	font-family:RobotoRegular,sans-serif;
	color: #4C4C4C;
	bottom: 222px;
	
}
#recentPost h2{
	font-weight: 500;
	letter-spacing: -1.1px;
}
#recentPost h2+p{
	position: relative;
	top:-1px;
	left: 17px;
	letter-spacing: 0.9px;
}
#recentPost h2+p+p{
	position: relative;
	top: 22px;
	line-height:30px;
	letter-spacing:.2px;
}
#recentPost .ReadMore{
	position: relative;
	top: 48px;
	font-weight: 600;
	letter-spacing: -.5px;
	transition: 300ms;
	width: 80px;
}
#recentPost   .Readline{
	background-color: #3971FF;
	width: 50px;
	height: 2px;
	top: 42px;
	left: 1px;
	transition: 300ms;
}

.liNe_JQ{
	position: relative;
	border-bottom: 2px solid #4C4C4C;
	width: 670px;
	left: 220px;
	top: 32px;
}
.liNe_JQ>p{
	display: inline-block;
	position: relative;
	font-family: RobotoRegular,sans-serif;
	padding-left: 45px ;
	left: 18.5px;
	bottom: 9px;
}
.liNe_JQ div{
	position: relative;
	border: 5px solid transparent;
	border-bottom: 5px solid #3971FF;
	width: 1px;
	top: 52px;
	left: 83px;
} 
.liNe_JQ div+div{
	position: relative;
	border: 1px solid #3971FF;
	width: 100px;
	left: 40px;
	padding-right: 0;
}


/* PRINTING PLAN */
#printingPlan{
	background: #F3F3F3;
	min-height: 812px;
	font-family: 'RobotoRegular', sans-serif;
	color: #4C4C4C;
}
#printingPlan h1{
	display:block;
	padding: 91px 0 0 96px;
	font: 500 30px  Exo2Regular,sans-serif;
	color: #333333;
	letter-spacing: .3px;
}
#printingPlan h1 img{
	position: relative;
	top: 30px;
	right: 196px;
}

#printingPlan div{
	top: 80px;
	left: 95px;
}
#printingPlan .print_1{
	display: inline-block;
	position: relative;
	background-color: white;
	width: 445px;
	height: 484px;
	transition: 400ms;
}
#printingPlan .print_1 h2{
	position: relative;
	top: 28px;
	left: 29px;
	font-weight:500;
	letter-spacing: -.9px;
}
.print_2 h2{
	position: relative;
	top: 28px;
	left: 30px;
	font-weight:500;
	letter-spacing: -.8px;
}
.pri_1 p{ 
	padding: 1px 0 21px 30px;
	margin-bottom:  22px;
	border-bottom: 1px solid #A7A7A7;
	letter-spacing: -.9px;
}
.print_1 h2 span, .print_2 h2 span{
	font-weight:600;
	font-size: 26px;
}
#printingPlan .pri_1 p>span{
	float: right;
	letter-spacing: -.3px;
	color: #4C4C4C;
	padding-right: 30px;
}
.print_1 h2+p,.print_2 h2+p{
	padding: 47px 0 24px 30px;
	line-height: 30px;
	letter-spacing: .2px;
}
#printingPlan .print_2{
	display: inline-block;
	position: relative;
	background-color: white;
	width: 445px;
	height: 484px;
	left: 120px;
	transition: 400ms;
}
#printingPlan .borDernone{
	border: none;
}
.pri_1+div{
	position: relative;
	left:100px;
}

#printingPlan .RegisterNow{
	display: inline-block;
	position: relative;
	top: 2px;
	left: 174px;
	color: #3971FF;
}

#printingPlan .RegisterNow>div{
	height: 2px;
	width: 50px;
	background-color: #3971FF;
	margin-top: 10px;
	transition: 300ms;
}

/*---- CLIENT'S FEEDBACK  --- */
#clientFeed{
	min-height: 693px;
	background-image: url("images/Background.png");
	position: relative;
	bottom: 20px;
}
#clientFeed h1{
	display:block;
	padding: 91px 0 0 95px;
	font: 500 30px  Exo2Regular,sans-serif;
	color: #333333;
	letter-spacing: .3px;
}

#clientFeed h1 img{	
	position: relative;
	top: 30px;
	right: 271px;
}
#clientFeed figure div{
	position: relative;
	left: 460px;
	top: 20px;
}
#clientFeed figure{
	font-family: 'RobotoRegular', sans-serif;
	color: #4C4C4C;
	text-align: center;

}
#clientFeed .centerIm{
	width: 110px;
	height: 110px;
	background-color: #CCCCCC;

}
#clientFeed figure .centerIm_1{
	position: relative;
	display: inline-block;
	top: 134px;
	left: -138px;
}
#clientFeed figure p{
	position: relative;
	bottom: 42px;
}
#clientFeed .junaed{
	position: relative;
	right: 10px;
	font-size: 23px;

}
#clientFeed .junaed+p{
	position: relative;
	bottom: 46px;
	right: 12px;
}
#clientFeed .junaed+p+p{
	position: relative;
	bottom: 20px;
	right: 11px;
	letter-spacing: .1;
	line-height: 30px;

}
#clientFeed figure .centerIm_2{
	position: relative;
	top: -60px;
	left: 112px;
	display: inline-block;
}
#clientFeed .centerIm img{
	margin: 13px 18px;
}
/* SAY HOLLO */
#sayHollo{
	color: #4C4C4C;
	font-family: RobotoRegular,sans-serif;
	height: 795px;
	background-color:#F3F3F3; 
}
#sayHollo h1{
	display:block;
	padding: 51px 0 0 96px;
	font: 500 30px  Exo2Regular,sans-serif;
	color: #333333;
	letter-spacing: .1px;
}

#sayHollo h1::after{
	content: url("images/Vector.png");
	position: relative;
	top: 30px;
	right: 147px;
}
#sayHollo ::-webkit-input-placeholder{
  color: #A7A7A7;
}
#sayHollo form{
	display: inline-block;
	position: relative;
	left: 41.9%;
	bottom: 148px;

}
 #sayHollo form input{
 	border: none;
 	border-bottom: 1px solid #A7A7A7;
 	width: 540px;
 	padding: 0 0 21px 0;
    margin-bottom: 39px;
 	outline: none;
 	color: #4C4C4C;
 	font-family: RobotoRegular,sans-serif;
 	background-color: #F3F3F3;
 }
 #sayHollo .WhataAre{
	margin-top: 9px;
	position: relative;
 
  }
 #sayHollo .WhataAre:before,
  #sayHollo .WhataAre:after{
content: ' ';
position: absolute;
pointer-events: none;
 } 
  #sayHollo .WhataAre:after{
  	top: 0;
  	right: 20px;
  	height: 100%;
  	background: #C0C0C0;
  	transform: .3s;
  }
  #sayHollo .WhataAre:before{
  	top: 50%;
  	right: 5px;
  	margin-top: -5px;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 10px 5px 0 5px;
  	border-color: #000 transparent transparent transparent;
  	z-index: 1;
  }
    #sayHollo .WhataAre:hover:before {
border-top-color: #fff;
    }
        #sayHollo .WhataAre:hover:after {
border-top-color: #000;
    }
    

 #sayHollo .TypeYour{
 	margin-top: 9px;
 	padding-bottom: 98px;
 }

#sayHollo a{
	text-decoration: none;
}

#sayHollo a:active, #sayHollo a:visited{
	color: #4C4C4C;
}

#sayHollo form .LetsTalk>a{
	position: relative;
	top: 10px;
	font-weight: 600;  
	letter-spacing: -.4px;
	transition: 200ms;
    color: #3971FF;
}
#sayHollo  .LetsTalk a>div{
	background-color: #3971FF;
	width: 50px;
	height: 2px;
	transition: 200ms;
	margin-top: 10px;
}
#sayHollo .loCation {
	letter-spacing: .25px;
	line-height: 30px;
	top: 114px;
	margin-left: 95px;
	padding-right: 0;
	margin-right: 0;
	position: relative;
	width: 260px;
 
}
#sayHollo .conTakt {
	position: relative;
	top: 202px;
	margin-left: 95px ;
	margin-right: 0;
	line-height: 30px
	letter-spacing: .15px;
	line-height: 30px;
	width: 200px;
}

#sayHollo span{
   color: #4C4C4C;
   font-size: 23px;
}

#sayHollo .loCation span{
	position: relative;
	top: 6px;
	left: 73px;
}

#sayHollo .conTakt span{
	position: relative;
	left: 73px;
	top: 6px;

}
#sayHollo .conTakt div{
	position: absolute;
	padding: 25px;  
	bottom: 73px;
	background: url("images/Sprit.png") no-repeat -43px -155px;
}
#sayHollo .loCation div{
	position: absolute;
	padding: 20px 23px;  
	bottom: 79px;
	background:  url("images/Sprit.png") no-repeat -40px -113px;
}
#sayHollo .TypeYour{
	background-color: #F3F3F3; 
	border: none;
	border-bottom: 1px solid #A7A7A7;
	width: 540px;
	margin-top: 7px;
	padding-bottom: 80px;
	margin-bottom: 35px;
	outline: none;
	resize: none;
	overflow: auto;
}
#sayHollo input:focus{
		border-bottom: 1px solid #3971FF;
}
#sayHollo textarea:focus{
	border-bottom: 1px solid #3971FF;
}

/*Footer img*/
#sayHollo .linel_Img_1 {
	background:  url("images/Sprit.png") no-repeat -27px 2px;
   padding: 15px 7px;
   position: absolute;
   top: 421px;
   right: 912px;
}
#sayHollo .linel_Img_2{
   background:  url("images/Sprit.png") no-repeat -40px -56px;
   padding: 15px;
   position: absolute;
   top: 421px;
   right: 837px;
}

#sayHollo .linel_Img_3{
   background:  url("images/Sprit.png") no-repeat -40px -86px;
   padding: 13px;
   position: absolute;
   top: 427px;
   right: 776px;
}

#sayHollo .linel_Img_4{
   background:  url("images/Sprit.png") no-repeat -40px -31px;
   padding: 14px;
   position: absolute;
   top: 424px;
   right: 709px;
}
#sayHollo .linel_Img_1:hover{
      background:  url("images/Sprit.png") no-repeat -8px 2px;
}
#sayHollo .linel_Img_2:hover{
	  background:  url("images/Sprit.png") no-repeat -6px -56px;
}
#sayHollo .linel_Img_3:hover{
	background: url(images/Sprit.png) no-repeat -7px -86px;
}
#sayHollo .linel_Img_4:hover{
  background:  url(images/Sprit.png) no-repeat -7px -31px;
}
